<div id='figure'>
    <div id='statusContainer'>Show health details of services with 'OK' status</div>
    <div id='statusTable'></div>
</div>
<div id='noData'>We have no report data at the moment. Please refresh page and try again.</div>
<script>
    const chartData = {{{json cacheData}}};
    if (chartData && Object.hasOwnProperty.call(chartData, 'service_reports')) {
        buildStatusTable(chartData);
    } else {
        $('#figure').hide();
        $('#noData').show();
    }
</script>