<figure id='figure' class='highcharts-figure'>
    <div id='container'></div>
    <div id='detailTable'></div>
</figure>
<div id='noData'>We have no report data at the moment. Please refresh page and try again.</div>
<script>
    const chartData = {{{json cacheData}}};
    if (chartData && Object.hasOwnProperty.call(chartData, 'service_reports')) {
        buildChart(chartData);
    } else {
        $('#figure').hide();
        $('#noData').show();
    }
</script>