html,body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
}
.footer {
    position: relative;
    width: 100%;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.content {
    width: 900px;
    padding: 20px;
    margin: auto;
}
table {
    width: 100%;
}
tr.host {
    font-weight: 600;
}
tr.host td {
    border-top: 1px solid #CCC;    
}
tr.host:first-child td {
    border-top: 0px solid #CCC;
}
tr.node td {
    padding: 10px 5px;
}
#noData {
    display: none;
    text-align: center;
    font-weight: 500;
}
div.state {
    height: 30px;
    /* width: 30px; */
}
.state.green {
    background-color: green;
}
.state.yellow {
    background-color: yellow;
}
.state.red {
    background-color: red;
}
th {
    text-align: center;
}
th:first-child {
    text-align: left;
}
#statusContainer {
    padding: 10px;
    font-weight: 400;
}